<div class="container p-5 book-img-container">
    <div class="row book-row">
      {% for post in site.posts %}

        {% if post.featured == true %}
          <div class="col-12 col-md-6 my-auto text-center book-img-col">
            {% if post.digitaloceanlink == true %}
          <a href="{{ site.do-link }}/{{ post.barcode }}/{{ site.do-link-end }}" target="_blank">
            <img src="{{ site.baseurl }}/{{ post.image }}" class="book-img img-fluid" alt="{{ post.title }}">
          </a>
          {% endif %}
            {% if post.digitaloceanlink == false %}
            <img src="{{ site.baseurl }}/{{ post.image }}" class="book-img img-fluid" alt="{{ post.title }}">
          {% endif %}
          </div>
          <div class="col-12 col-md-6 my-auto text-center book-text-col">
            <h1 class="post-title">{{ post.title }}</h1>
            <div class="post-content">{{ post.excerpt | strip_html | truncatewords:40 }}<br>

              {% if post.digitaloceanlink == true %}

                <a class="btn btn-dark examine-button" href="{{ site.do-link }}/{{ post.barcode }}/{{ site.do-link-end }}" 
                target="_blank" role="button">Sayfaları incele</a>
      
              {% endif %}
            
            </div>
            <div class="post-info">
                {% include table.html %}
            </div>
          </div>
        {% endif %}

      {% endfor %}
    </div>
</div>