---
layout: default
---
{% for post in site.posts %}

    {% if post.featured == false %}
        <div class="container">
            <div class="row">
                <div class="text-center col-12">
                    <h1>{{ post.title }}</h1>
                </div>
                <div class="col-12 col-md-6">
                    <img src="{{ site.baseurl }}/{{ post.image }}" class="img-fluid book-img" alt="{{ post.title }}">
                </div>
                <div class="col-12 col-md-6">
                    {{content}}
                </div>
                <div class="col-12 post-info">
                    {% include table.html %}
                </div>
            </div>
        </div>
    {% endif %}

{% endfor %}